</div>
<div class="footer-basic">
  <footer>
      <div class="social">
        <a href="https://www.instagram.com/_for_name.sake_/" target="_blank"><i class="fa-brands fa-instagram" style="color: azure;"></i></a>
        <a href="https://github.com/saura101" target="_blank"><i class="fa-brands fa-github" style="color: azure;"></i></a>
        <a href="https://www.facebook.com/souradeep.ghosh.169/"  target="_blank"><i class="fa-brands fa-facebook" style="color: azure;"></i></a>
      </div>
      <p class="copyright">Saura101 © <%= new Date().getFullYear() %></p>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/front.js" charset="utf-8"></script>
</body>
</html>