<%- include("partials/header.ejs") %>

  <div class="wrapper login-wrap" style="background-image: url('https://static.vecteezy.com/system/resources/previews/019/906/484/original/paper-plane-graphic-clipart-design-free-png.png');">
    <div class="inner">
        <form action="/login" method="POST" class="form-login">
          <% if(locals.err) {%>
            <div class="err">
              <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000; margin-top: 2%;"></i>
              <p class="err-msg"><%= err %></p>
            </div>
            <% } %>
        <h3>Sign in to FlyDrive</h3>
    <div class="form-wrapper">
    <label for="username">Email</label>
    <input type="text" class="form-control" name="username">
    </div>
    <div class="form-wrapper">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password">
    </div>
          <button class="button" type="submit">Sign In</button>
          <div class="text-center" style="margin-top: 5px;">
            <a href="/register" class="noul">
              <span>
                Don't have an account
              </span>
            </a>
          </div>
          <div class="txt1 text-center p-t-54 p-b-20">
            <span>
            OR
            </span>
            </div>
            <div class="flex-c-m">
              <a href="auth/facebook" class="login100-social-item bg1">
                <i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
              </a>
              <a href="auth/google" class="login100-social-item bg3">
                <i class="fa-brands fa-google" style="color: #00ff00;"></i>
              </a>
              </div>
    </form>
    </div>
    </div>

<%- include("partials/footer.ejs") %>