* {
    box-sizing: border-box;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position:fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #d5d5d5;
}

.footer p {
	font-size: 1rem;
  color: #696969;
}

.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
  }

.custom-file-label {
	background-color: #dadada;
}

.custom-file-input::before {
	content: "Choose File....                                                    "; 
	display: inline-block;
	color:#686868;
}

.custom-file-input::after {
	content: "uploaded file... 													";
}

.link {
	color:rgb(47, 47, 47);
	text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: auto;
}

.inner {
    min-width: 850px;
    margin: auto;
    padding-top: 68px;
    padding-bottom: 48px;
    background: url(../images/registration-form-2.jpg)
}
.inner h3 {
    font-size: 22px;
    font-family: muli-bold;
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px
}
.form {
    width: 50%;
    padding-left: 45px
}

.form-group {
    display: flex
}

.form-group .form-wrapper {
    width: 50%
}

.form-group .form-wrapper:first-child {
    margin-right: 20px
}

.form-wrapper {
    margin-bottom: 17px
}

.form-wrapper label {
    margin-bottom: 9px;
    display: block
}

.form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: muli-bold;
    background: 0 0
}

.form-control:focus {
    border: 1px solid #ae3c33
}

select option[value=""][disabled] {
    display: none
}

@media(max-width: 991px) {
    .inner {
        min-width:768px
    }
}

@media(max-width: 767px) {
    .inner {
        min-width:auto;
        background: 0 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .form {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px
    }
}

.button {
    border: none;
    width: 152px;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ae3c33;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: muli-semibold;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f11a09;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
    transition-timing-function: cubic-bezier(.52,1.64,.37,.66)
}

.text-center {
    text-align: center!important;
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #303030;
    text-decoration:none!important;
}

.noul {
    text-decoration:none!important;
    color:#686868;
    line-height: 1.5;
    font-size: 1.2rem;
}

.p-t-54 {
    padding-top: 30px;
}
.p-b-20 {
    padding-bottom: 15px;
}
.flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.login100-social-item {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.bg1 {
    background-color: #3b5998;
}
.bg3 {
    background-color: #ff4242;
}
.logout-container {
    display: flex;
    justify-content: end;
    margin-top: 3%;
    margin-right: 3%;
}
.download {
    display:flex;
    justify-content: end;
    margin-bottom: 1rem;
}
.userimage {
    height: 200px;
    width: auto;

}