* {
    box-sizing: border-box;
}

body {
    background-color: #7C73C0;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");

}
.navbar {
    /* background-color: #E8FFCE!important; */
    background-color: #fffcfc!important;
    margin-bottom: 1rem;
    padding-top: 1rem;
}
.navlogo {
    margin-right: 1rem;
    margin-left: 1rem;
}
.dashboard-btn {
    margin-right: 1.5rem;
    color:azure;
    background-color: #5B0888;
    border-radius: 25px;
}
.dashboard-btn:hover {
    background-color:#E5CFF7;
    color:#5B0888;
    border-radius: 25px;
}

.btn-lg {

    font-weight: 500;
    width:350px;
    padding:10px;
}

.footer-basic {
    padding:5px 0;
    color:#4b4c4d;
    width: 100%;
    margin-top: 5%;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:2px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid azure;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:2px;
    text-align:center;
    font-size:15px;
    color:azure;
    margin-bottom:0;
  }

.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
  }
#file {
    background-color: #E5CFF7;
}
.custom-file-label {
	background-color: #5B0888;
    color:azure;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 9px;
}

.custom-file-input {
    color:#686868;
}

.custom-file-input::before {
    padding-top: 5px;
	content: "Choose File...."; 
	display: inline-block;
	color:#686868;
}

.link {
	color:rgb(47, 47, 47);
	text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: auto;
}

.inner {
    min-width: 850px;
    margin: auto;
    padding-top: 68px;
    padding-bottom: 48px;
}
.inner h3 {
    font-size: 22px;
    font-family: muli-bold;
    text-align: center;
    margin-bottom: 32px;
    color: azure;
    letter-spacing: 2px
}
.form {
    width: 50%;
    padding-left: 45px;
    color:azure;
    font-family: muli-bold;
}
.form-login {
    float: right;
    width: 50%;
    padding-left: 45px;
    color:azure;
    font-family: muli-bold;
}

.form-group {
    display: flex
}

.form-group .form-wrapper {
    width: 50%
}

.form-group .form-wrapper:first-child {
    margin-right: 20px
}

.form-wrapper {
    margin-bottom: 17px
}

.form-wrapper label {
    margin-bottom: 9px;
    display: block;
}

.form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: muli-bold;
    background: 0 0
}

.form-control:focus {
    border: 1px solid #ae3c33
}

select option[value=""][disabled] {
    display: none
}

@media(max-width: 991px) {
    .inner {
        min-width:768px
    }
}

@media(max-width: 767px) {
    .inner {
        min-width:auto;
        background: 0 0;
        padding-top: 0;
        padding-bottom: 0
    }

    .form {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px
    }
}

.button {
    border: none;
    width: 152px;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #5B0888;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: muli-semibold;
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E5CFF7;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.button:hover {
    color:#5B0888;
}
.button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(.52,1.64,.37,.66);
    transition-timing-function: cubic-bezier(.52,1.64,.37,.66)
}

.text-center {
    text-align: center!important;
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 1rem;
    line-height: 1.5;
    color: azure;
    text-decoration:none!important;
    font-family: muli-bold;
}

.noul {
    text-decoration:none!important;
    color:azure;
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: muli-bold;
}

.p-t-54 {
    padding-top: 10px;
}
.p-b-20 {
    padding-bottom: 1px;
}
.flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}
.login100-social-item {
    font-size: 25px;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 3px #3a3a3a;
}

.bg1 {
    background-color: azure;
}
.bg3 {
    background-color: azure;
}
.logout-container {
    display: flex;
    justify-content: end;
    margin-top: 3%;
    margin-right: 3%;
}
.download {
    display:flex;
    justify-content: end;
    margin-bottom: 1rem;
}
.userimage {
    height: 200px;
    width: auto;

}
.card {
    background-color: #E5CFF7;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
}
.login-wrap {
    background-repeat:no-repeat;
    background-position: left top;
    background-size: 40% 400px;
}
.typed {
    width :auto;
    height: 40vh;
    color: azure;
    display: flex;
    align-items: center;
    margin-left: 8%;

}
.typed h1 {
    width: 23%;
    font-size: 3rem;
    line-height: 3.5rem;
}
.dashboard-form {
    margin-left: 8%;
}
.auto-type {
    color:#5B0888;
}
.p {
    width :auto;
    color: azure;
    display: flex;
    align-items: center;
    margin-left: 8%;
    margin-bottom: 2%;
}
.p p {
    width: 30%;
    font-size: 1.2rem;
}
.err {
    display: flex;
    background-color: rgb(255, 223, 223);
    padding-left: 30px;
    border-radius: 8px;
    opacity: 0.5;
    padding-top: 5%;
}
.err-msg {
    color :rgb(255, 32, 32);
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 4%;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}